.image-form {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.image-form .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.image-form img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
