<p-button styleClass=" p-button"  routerLink="/"> Landing Page</p-button>
<p-toast position="top-right"></p-toast>

<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
   
    <div class="flex flex-col items-center justify-center">
        <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
                <div class="text-center mb-8">
                    <svg viewBox="0 0 54 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="mb-8 w-16 shrink-0 mx-auto">
                        <!-- Your SVG content -->
                    </svg>
                    <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Welcome to Queute!</div>
                    <span class="text-muted-color font-medium">Sign in to continue</span>
                </div>
                
                <!-- Error messages -->
                <div *ngIf="response === 'Invalid email or password' || response === 'Account is disabled please contact admin'" 
                     class="alert alert-danger mb-4">
                    {{response}}
                </div>
                
                <div *ngIf="response === 'Welcome Admin' || response === 'Welcome Client'" 
                     class="alert alert-success mb-4">
                    {{response}}
                </div>
                   
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <label for="email1" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
                    <input pInputText id="email1" type="email" placeholder="Email address" 
                           class="w-full md:w-[30rem] mb-8" formControlName="email" required />

                    <label  class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Password</label>
                    <p-password id="password1" formControlName="password" placeholder="password" 
                               [toggleMask]="true" styleClass="mb-4" [fluid]="true" [feedback]="false" required></p-password>

                    <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                        <div class="flex items-center">
                            <p-checkbox [(ngModel)]="checked" id="rememberme1" binary class="mr-2" 
                                      [ngModelOptions]="{standalone: true}"></p-checkbox>
                            <label >Remember me</label>
                        </div>
                        <p>Forgot Password ? <a routerLink="/auth/forgotpassword" class="text-primary">Reset Password</a></p>
                    </div>
                    <button type="submit" pButton label="Sign In" styleClass="w-full"></button>
                </form>
                <br>
                <p-button label="Sign In with google" styleClass="w-full" (click)="loginWithGoogle()"></p-button>
                <p>Don't have an Account ? <a routerLink="/auth/register" class="text-primary">Sign Up</a></p>
            </div>
        </div>
    </div>
</div>