.container{
    display: flex;
    gap: 20px;
    
}
.textandfileContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex:2;
}
.tags{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}