<div class="flex flex-col h-full relative">
    <div *ngIf="loading == true" class="flex justify-center py-4">
        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s"
            [style]="{ width: '50px', height: '50px' }" />
    </div>

    <div *ngIf="comments.length > 0 && !empty" class="flex-1 overflow-auto">
        <div *ngFor="let com of comments">
            <app-comment (deleted)="onCommentDeleted($event)" [commentId]="com.id" />
        </div>
    </div>

    <div *ngIf="empty == true" class="text-center text-gray-500 my-4">
        No comment created yet
    </div>

    <div class="sticky bottom-0 bg-white border-t p-4 flex items-center gap-3 shadow-md z-10">
        <input
        type="text"
        [(ngModel)]="newCommentText"
        placeholder="Write a comment..."
        class="p-inputtext p-component w-full px-4 py-2 text-sm rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary"
        />
        <p-button
            icon="pi pi-send"
            styleClass="rounded-full"
            [disabled]="!newCommentText.trim()"
            (click)="createComment()">
        </p-button>
    </div>
</div>

