<p-fluid>
    <div class="card !mb-8">
        <div class="card flex flex-col gap-6 w-full">
            <form [formGroup]="moduleForm" (ngSubmit)="saveModule()"
                  class="font-semibold flex-col gap-10 text-xl mb-4">

                <div class="flex flex-col md:flex-row gap-8">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="title" class="text-lg">Title <span style="color: red">*</span></label>
                        <input pInputText id="title" type="text" formControlName="title"
                               placeholder="Enter title" />
                        <p-message *ngIf="moduleForm.get('title')?.invalid && moduleForm.get('title')?.touched"
                                   severity="error"
                                   text="Module title is required.">
                        </p-message>
                    </div>

                    <div class="flex flex-wrap gap-2 w-full h-fit">
                        <label for="horizontal" class="text-lg">Priority <span style="color: red">*</span></label>
                        <div class="flex flex-row w-full gap-2">
                            <p-inputnumber formControlName="priority" [showButtons]="true" buttonLayout="horizontal"
                                           inputId="horizontal" spinnerMode="horizontal" [step]="1" [min]="1"
                                           [max]="10">
                                <ng-template #incrementbuttonicon>
                                    <span class="pi pi-plus"></span>
                                </ng-template>
                                <ng-template #decrementbuttonicon>
                                    <span class="pi pi-minus"></span>
                                </ng-template>
                            </p-inputnumber>
                            <p-tag [value]="priority" [severity]="prioritySeverity" class="w-44" />
                        </div>
                    </div>

                </div>

                <div class="flex flex-wrap mt-5">
                    <label for="description" class="text-lg">Description <span style="color: red">*</span></label>
                    <textarea pTextarea id="description" rows="4" formControlName="description"
                              placeholder="Tell your team about the module"></textarea>
                    <p-message
                        *ngIf="moduleForm.get('description')?.invalid && moduleForm.get('description')?.touched"
                        severity="error" text="Description is required.">
                    </p-message>
                </div>

                <div class="flex flex-col gap-2 mt-5 w-full">
                    <label class="text-lg">
                        Begin date and Time <span style="color: red">*</span>
                    </label>

                    <div class="flex flex-col md:flex-row gap-4 w-full">
                        <!-- Date Picker -->
                        <p-datepicker
                            class="w-full"
                            formControlName="beginDateDate"
                            [showIcon]="true"
                            inputId="buttondisplay"
                            [showOnFocus]="false">
                        </p-datepicker>

                        <!-- Time Picker -->
                        <p-datepicker
                            class="w-full"
                            formControlName="beginDateTime"
                            [iconDisplay]="'input'"
                            [showIcon]="true"
                            [timeOnly]="true"
                            inputId="templatedisplay">
                            <ng-template #inputicon let-clickCallBack="clickCallBack">
                                <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                            </ng-template>
                        </p-datepicker>
                    </div>
                    <p-message
                        *ngIf="(moduleForm.get('beginDateDate')?.invalid || moduleForm.get('beginDateTime')?.invalid) && (moduleForm.get('beginDateDate')?.touched || moduleForm.get('beginDateTime')?.touched )"
                        severity="error"
                        text="Begin date and time are required.">
                    </p-message>
                    <p-message
                        *ngIf="moduleForm.errors?.['beginInPast'] "
                        severity="error"
                        text="Begin date and time must be in the future.">
                    </p-message>
                </div>

                <div class="flex flex-col gap-2 mt-5 w-full">
                    <label class="text-lg">
                        Deadline date and Time <span style="color: red">*</span>
                    </label>

                    <div class="flex flex-col md:flex-row gap-4 w-full">
                        <!-- Date Picker -->
                        <p-datepicker
                            class="w-full"
                            formControlName="deadlineDate"
                            [showIcon]="true"
                            inputId="buttondisplay"
                            [showOnFocus]="false">
                        </p-datepicker>

                        <!-- Time Picker -->
                        <p-datepicker
                            class="w-full"
                            formControlName="deadlineTime"
                            [iconDisplay]="'input'"
                            [showIcon]="true"
                            [timeOnly]="true"
                            inputId="templatedisplay">
                            <ng-template #inputicon let-clickCallBack="clickCallBack">
                                <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                            </ng-template>
                        </p-datepicker>
                    </div>

                    <p-message
                        *ngIf="(moduleForm.get('deadlineDate')?.invalid || moduleForm.get('deadlineTime')?.invalid) && (moduleForm.get('deadlineDate')?.touched || moduleForm.get('deadlineTime')?.touched )"
                        severity="error"
                        text="Deadline date and time are required.">

                    </p-message>

                    <p-message
                        *ngIf="moduleForm.errors?.['invalidDateOrder']"
                        severity="error"
                        text="Deadline must be after begin date.">
                    </p-message>

                    <p-message
                        *ngIf="moduleForm.errors?.['deadlineInPast']"
                        severity="error"
                        text="Deadline must be in the future.">
                    </p-message>

                </div>

                <div class="flex justify-end mt-4 gap-1">
                    <p-button label="Cancel" iconPos="right" severity="warn"
                              styleClass="text-lg font-semibold px-4 py-2 w-40" (click)="cancel()" />
                    <p-button type="submit" label="Save" icon="pi pi-check" iconPos="right"
                              styleClass="text-lg font-semibold px-4 py-2 w-40" [disabled]="moduleForm.invalid" />
                </div>

            </form>
        </div>
    </div>
</p-fluid>
