<div class="flex flex-col gap-2 mt-10" *ngIf="!loading">

    <div class="flex items-center justify-between">
        <span class="text-xl font-bold">Documents :</span>
    </div>
    <div class="card">
        <p-fileupload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
                      (onUpload)="onUpload($event)" [multiple]="true"
                      maxFileSize="1000000"
                      mode="advanced">
            <ng-template #empty>
                <div>Drag and drop files to here to upload.</div>
            </ng-template>
            <ng-template #content>
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul>
            </ng-template>
        </p-fileupload>
    </div>
    <div *ngIf="documents && documents.length > 0; else show_empty">
        <div class="flex flex-wrap gap-4">

            <div *ngFor="let doc of documents" class="flex flex-col gap-4 w-fit p-3 rounded-2xl" id="doc-card">
                <div class="flex flex-row items-center gap-4">
                    <img *ngIf="doc.document_type == 'IMAGE' else show_file_icon"
                        src="http://localhost:8082/api/v1/project-document/images/{{doc.path}}" alt="user image"
                        width="38" style="vertical-align: middle; border-radius: 0.8rem;">
                    <ng-template #show_file_icon>
                        <i class="pi pi-paperclip" id="file-icon"></i>
                        <a href="http://localhost:8082/api/v1/project-document/documents/{{doc.path}}" class="doc-name"><span>{{doc.document_name}}</span></a>
                    </ng-template>
                    <span *ngIf="doc.document_type == 'IMAGE'" class="doc-name">{{doc.document_name}}</span>
                </div>

                <div class="flex flex-col gap-2">
                    <span class="details">Type : {{ getDocumentType(doc.document_type) }}</span>
                    <span class="details">Uploaded at : {{doc.created_at | date: "medium"}}</span>
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                              (click)="deleteDocument(doc.document_id!)" />
                </div>
            </div>

        </div>
    </div>
    <ng-template #show_empty>
        <span class="text-lg font-medium">No documents found.</span>
    </ng-template>
</div>

<div class="card" *ngIf="loading">
    <p-progressbar mode="indeterminate" [style]="{'height': '6px'}"></p-progressbar>
</div>
