.emojiesContainer{
    display: flex;
}
.likesContainer{
    display: flex;
    /*padding-left:19px;*/
    position: relative;
    bottom: 8px;

}

.like{
    position: relative;
    height: 22px;
    width: 24px;
    background-color: #1E7DFE;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    }

    .wowEmojii{
        position: relative;
        width: 42px;
        height: 22px;
        margin-left: -15px;
        bottom: 5px;
    }
    .wowEmojii img{
        width: 1000px;
    }

/*.likesContainer::after{
        content: '';
        position: relative;
        bottom: 0;
        right: 26px;
        width: 100%;
        border-bottom: 2px solid #E8E8E8;
        top: 8px;

}*/
    
    .like svg {
        fill: white;
        width: 14px;
        position: relative;
        top: 3px;
        left: 5px;
    }

    .heart {
        position: relative;
        height: 22px;
        width: 24px;
        background-color: #FC454C;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    .heart svg{
        fill: white;
        width: 14px;
        padding-top: 4px;
        position: relative;
        left: 5px;
    }

    .wowEmoji{
        height: /*50px;*/ 23px;
        width:  /*50px;*/ 23px;
        position: relative;
        border-radius: 50%;
        background: linear-gradient(#ffda6b,#ff935c);
        bottom: 2px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    }
    .wowFace{
        height: 100%;
        width: 100%;
        //animation: face 3s linear infinite forwards ;
    }
    
    .wowEyeBrow{
     position :absolute;
     width: 100%;
     top: 4px;
     display: flex;
     //animation: eyebrow 3s linear infinite forwards;
    }
    
    .wowEyeBrow span{
        margin: 0 2px;
        width: 8px;
        height: 10px;
        border-radius: 50%;
        border: 3px solid #b96a46;
        border-bottom: transparent;
        border-left-color: transparent;
        border-right-color:transparent ;
        position: relative;
    }
    
    .wowEyeBrow span::before, .wowEyeBrow span::after{
        content: '';
        background: #b96a46;
        width: 3px;
        height: 2px;
        border-radius: 50%;
        position: absolute;
    }
    
    .wowEyeBrow span::before{
        left: -2px;
        top: -1.5px;
    }
    
    .wowEyeBrow span::after{
        right: -2px;
        top: -1.5px;
    }
    .wowEmojiEye{
        position: absolute;
        top: 8px;
        width: 100%;
        text-align: center;
        display: flex;
    
    }
    
    .wowEmojiEye span{
        
        height: 6px;
        width: 10px;
        border-radius: 50%;
        margin: 0 4px;
        background:#262c38;
    }
    
    .wowEmojiMouth{
        width: /*13px;*/ 7px;
        height: /*18px;*/9px;
        border-radius: 50%;
        position: absolute;
        left:calc(50% - 3px);/*6px*/
        top: 53%;
        background: linear-gradient(#481f00,#b96a46);
        //animation: mouth 3s linear infinite forwards;
    }