<div class="flex flex-row items-center justify-center">
    <div *ngIf="team" class="flex flex-col items-start justify-center gap-4">
        <div *ngFor="let t of team" class="flex flex-row items-center justify-between gap-2">
            <img *ngIf="t.user?.image != 'default_user.jpg' else default_image_user"
                 src="http://localhost:8082/api/v1/project-document/images/{{t.user?.image}}" alt="user image"
                 width="38" style="vertical-align: middle; border-radius: 50%;">
            <ng-template #default_image_user>
                <img src="default_user.jpg" width="50" style="vertical-align: middle; border-radius: 50%;" />
            </ng-template>
            <span class="text-lg">{{ t.user?.fullName }}</span>
            <p-tag *ngIf="t.role == 'MANAGER'" value="Manager" severity="success" />
            <p-tag *ngIf="t.role == 'TEAM_MEMBER'"  value="Member" severity="info" />
            <p-button *ngIf="isAdmin" icon="pi pi-trash" size="small" severity="danger" (onClick)="deleteProjectMember(t)" />
        </div>
    </div>

    <div *ngIf="usersTask" class="flex flex-col items-start justify-center gap-4">
        <div *ngFor="let user of usersTask" class="flex flex-row items-center justify-between gap-2">
            <img *ngIf="user.image != 'default_user.jpg' else default_image_user"
                 src="http://localhost:8082/api/v1/project-document/images/{{user.image}}" alt="user image" width="38"
                 style="vertical-align: middle; border-radius: 50%;">
            <ng-template #default_image_user>
                <img src="default_user.jpg" width="38" style="vertical-align: middle; border-radius: 50%;" />
            </ng-template>
            <span class="text-lg">{{ user.fullName }}</span>
            <p-tag value="Member" severity="info" />
            <p-button *ngIf="isAdmin" icon="pi pi-trash" size="small" severity="danger" (onClick)="deleteTaskMember(user)" />
        </div>
    </div>
</div>

<p-fluid *ngIf="isAdmin">
    <div class="card flex flex-col gap-6 w-full">
        <div class="font-bold text-lg">Add member</div>
        <app-add-member-form *ngIf="task"
                             [task]="task"
                             [taskMember]="true"
                             [isCreatingManager]="false"
                             (memberCreated)="memberCreated($event)"
        ></app-add-member-form>
        <app-add-member-form *ngIf="project"
                             [project]="project"
                             [isCreatingManager]="false"
                             (memberCreated)="memberCreated($event)"
        ></app-add-member-form>
    </div>
</p-fluid>
