
<div class="toolbarContainer  ">
    <p-dialog
    *ngIf="!showNewPage"
    header="Create Article"
    [(visible)]="visible"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '60vw', height: '100vh' }"
    [draggable]="false"
    [resizable]="false"
  >
    <ng-container>
      <p style="text-align: center; padding-right: 12px; font-family: 'Poppins', sans-serif; font-size: 15px;">
        How do you want to create your article?
      </p>

      <div style="display: flex; justify-content: center;">
        <p-image src="create.jpg" alt="Create Article" width="320"></p-image>
      </div>

      <div
        style="display: flex; justify-content: space-evenly; align-items: center; height: 28%; margin-top: 10px;"
      >
        <button (click)="showNewPage = true" class="btn">
          <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" class="sparkle">
            <path
              d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"
            ></path>
          </svg>
          <span class="text">With AI</span>
        </button>

        <button (click)="showDialog()" class="Btn">
          Scratch
          <svg class="svg" viewBox="0 0 512 512">
            <path
              d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"
            ></path>
          </svg>
        </button>
      </div>
    </ng-container>
  </p-dialog>

  <p-dialog
    *ngIf="showNewPage"
    header="Create Article"
    [(visible)]="visible"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '45vw', height: '70vh' }"
    [draggable]="false"
    [resizable]="false"
  >
  @if (loading) {

        <p style="text-align: center; padding-right: 12px; font-family: 'Poppins', sans-serif; font-size: 15px;">


        Your article is being coocked
      </p>
       <div class="fire">
        <div class="fire-left">
          <div class="main-fire"></div>
          <div class="particle-fire"></div>
        </div>
        <div class="fire-center">
          <div class="main-fire"></div>
          <div class="particle-fire"></div>
        </div>
        <div class="fire-right">
          <div class="main-fire"></div>
          <div class="particle-fire"></div>
        </div>
        <div class="fire-bottom">
          <div class="main-fire"></div>
        </div>
      </div>
    <div class="loadingContainer">
        <div class="dot dot-1"></div>
        <div class="dot dot-2"></div>
        <div class="dot dot-3"></div>
      </div>

      <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <filter id="goo">
            <feGaussianBlur
              result="blur"
              stdDeviation="10"
              in="SourceGraphic"
            ></feGaussianBlur>
            <feColorMatrix
              values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7"
              mode="matrix"
              in="blur"
            ></feColorMatrix>
          </filter>
        </defs>
      </svg>

  }@else {
    <button (click)="showNewPage = false" class="back">
      <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
        <path
          d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"
        ></path>
      </svg>
      <span>Back</span>
    </button>

    <div
      style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 5px;"
      *ngIf="showNewPage"
    >
      <p style="text-align: center; padding-right: 12px; font-family: 'Poppins', sans-serif; font-size: 15px;">
        Give us more details about the article
      </p>

      <p-floatlabel>
        <textarea
          pTextarea
          id="over_label"
          [(ngModel)]="description"
          rows="12"
          cols="50"
          style="resize: none"
          class="h-full"
        ></textarea>
        <label for="over_label">Description</label>
      </p-floatlabel>
    </div>

    <div class="btnContainer">
      <button (click)="generateArticleAi()" style="cursor: pointer;" class="button button-item">
        <span class="button-bg">
          <span class="button-bg-layers">
            <span class="button-bg-layer button-bg-layer-1 -purple"></span>
            <span class="button-bg-layer button-bg-layer-2 -turquoise"></span>
            <span class="button-bg-layer button-bg-layer-3 -yellow"></span>
          </span>
        </span>
        <span class="button-inner">
          <span class="button-inner-static">Generate</span>
          <span class="button-inner-hover">Generate</span>
        </span>
      </button>
    </div>
}
  </p-dialog>



    <div class="toolbar">
        <div class="bar"></div>
        <button (click)="toggleBold()" class="boldButton elementButton" [class.is-active] ="editor?.isActive('bold')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M11.5 14H7v-3h4.5c.827 0 1.5.673 1.5 1.5s-.673 1.5-1.5 1.5zM7 6h3.5c.827 0 1.5.673 1.5 1.5S11.327 9 10.5 9H7V6zm6.337 3.534C13.75 8.959 14 8.26 14 7.5 14 5.57 12.43 4 10.5 4H5v12h6.5c1.93 0 3.5-1.57 3.5-3.5 0-1.254-.669-2.348-1.663-2.966z"/>

            </svg>
        </button>
        <button (click)="toggleHeading(1)"  class="headerButton elementButton" [class.is-active] ="editor?.isActive('heading',{level:1})" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M11 7h2v10h-2v-4H7v4H5V7h2v4h4V7zm6.57 0c-.594.95-1.504 1.658-2.57 2v1h2v7h2V7h-1.43z"/>

            </svg>
        </button>
        <button (click)="toggleItalic()" class="elementButton" [class.is-active] ="editor?.isActive('italic')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15 5L15 4 8 4 8 5 10.9 5 9.082 15 6 15 6 16 13 16 13 15 10.1 15 11.918 5z"/>
            </svg>
        </button>
        <button (click)="toggleUnderline()" class="elementButton" [class.is-active] ="editor?.isActive('underline')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15 16v1H5v-1h10zM7 4v6c0 1.654 1.346 3 3 3s3-1.346 3-3V4h1v6c0 2.206-1.794 4-4 4s-4-1.794-4-4V4h1z"/>
            </svg>
        </button>
        <input type="color" (input)="setColor($event)" [value]="getColor()">

        <button (click)="toggleHighlight()" class="highlight elementButton"[class.is-active]= "editor?.isActive('highlight')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10.616 3.366L6.5 7.482 4.207 5.189l4.116-4.116c.098-.098.256-.098.354 0l1.94 1.939c.097.098.097.256 0 .354zM5.293 8.689h-1.94L3 8.336v-1.94l.5-.5 2.293 2.293-.5.5zm6.03-6.384L9.384.366c-.487-.488-1.282-.488-1.768 0l-5.47 5.47c-.093.093-.146.22-.146.353v2.147L.823 9.512c-.06.062-.087.15-.066.235.02.084.082.152.164.18l1.5.5c.026.008.052.012.08.012.064 0 .128-.025.176-.073l.676-.677H5.5c.133 0 .26-.052.353-.146l5.47-5.47c.487-.487.487-1.28 0-1.768z"/>
            </svg>
        </button>
        <div class="bar"></div>

        <button (click)="toggleQuote()"  class="elementButton" [class.is-active]= "editor?.isActive('blockquote')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M9 5v5.5C9 12.981 6.981 15 4.5 15H4v-1h.5C6.43 14 8 12.43 8 10.5V10H4V5h5zm7 0v5.5c0 2.481-2.019 4.5-4.5 4.5H11v-1h.5c1.93 0 3.5-1.57 3.5-3.5V10h-4V5h5z"/>
            </svg>
        </button>
        <button (click)="toggleCodeBlock()" class="elementButton" [class.is-active]= "editor?.isActive('codeBlock')">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10.917 4l.968.25-3.108 12-.969-.25 3.109-12zM5.528 5.253l.732.682-3.893 4.18 3.893 4.178-.732.682L1 10.115l4.528-4.862zm8.62 0l4.553 4.862-4.553 4.86-.73-.684 3.912-4.176-3.912-4.178.73-.684z"/>
            </svg>
        </button>

       <!-- <button (click)="fileInput.click()">Upload Image</button>
        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" /> !-->

        <div class="bar"></div>

        <button (click)="toggleOrderedList()" class="elementButton" [class.is-active]= "editor?.isActive('orderedList')">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24">
                <path d="M6 14v4H3v-1h2v-.5H4v-1h1V15H3v-1h3zm11 2v1H8v-1h9zM6 8v1.809l-2 1V11h2v1H3v-1.809l2-1V9H3V8h3zm11 2v1H8v-1h9zM5 2v4H4V3H3V2h2zm12 2v1H8V4h9z"/>
            </svg>
        </button>

        <button (click)="toggleBulletList()" class="elementButton"  [class.is-active]= "editor?.isActive('bulletList')">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24">
                <path d="M4.25 15c.69 0 1.25.56 1.25 1.25s-.56 1.25-1.25 1.25S3 16.94 3 16.25 3.56 15 4.25 15zm13.5.75v1h-10v-1h10zM4.25 9c.69 0 1.25.56 1.25 1.25s-.56 1.25-1.25 1.25S3 10.94 3 10.25 3.56 9 4.25 9zm13.5.75v1h-10v-1h10zM4.25 3c.69 0 1.25.56 1.25 1.25S4.94 5.5 4.25 5.5 3 4.94 3 4.25 3.56 3 4.25 3zm13.5.75v1h-10v-1h10z"/>
            </svg>
        </button>
    <!--<button class="saveButton" (click)="updateNews()" >Save</button> !-->
    <button class="saveButton" (click)="save()" >Save</button>


    </div>

    </div>
    <div class="container">
    <div #editorElement class="editor">
    </div>
    </div>
    <button (click)="addImage()">Set image</button>


    <!-- <app-category (event)="addSelectedType($event)"></app-category>
    <span>Selected Types</span>
    <div class="buttonContainer">
    <ng-container *ngFor="let t of selectedTypes">
        <p-button  label="{{t}}" severity="info" />

    </ng-container>
</div>
    <div></div>
    <button (click)="save()">Save</button>
!-->
    <p-overlayPanel #op>
        <div class="cont">
            <h2>Resize the Image</h2>

            <div class="buttons">
              <button (click)="resizeImage(100)">100%</button>
              <button (click)="resizeImage(50)">50%</button>
              <button (click)="resizeImage(25)">25%</button>
            </div>
          </div>
    </p-overlayPanel>




