<div class="card !mb-8" *ngIf="task">
    <p-toast />
    <p-confirmdialog></p-confirmdialog>
    <div class="flex items-center justify-between">
        <div class="flex flex-row items-center justify-center gap-10">
            <span class="text-4xl font-bold whitespace-nowrap">
                {{ task?.title! }}</span>
            <div class="flex flex-row items-center justify-center" *ngIf="isManagerOrAdmin">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editTask()" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                          (click)="deleteTask()" />
            </div>
        </div>

        <p-button icon="pi pi-arrow-left" label="Go back" (click)="goBack()" />
    </div>

    <div class="general-info-container">
        <p-dialog header="Update task" [modal]="true" [(visible)]="isOnUpdate" [style]="{ width: '80rem' }">
            <app-task-form
                [isOnUpdate]="true"
                [initUpdateF]="isOnUpdate"
                [task]="task"
                (hideForm)="isOnUpdate = !isOnUpdate"
                (taskCreated)="taskUpdated($event)"
            ></app-task-form>
        </p-dialog>

        <p-dialog header="Task team" [modal]="true" [(visible)]="isShowMember" [style]="{ width: '40rem' }">
            <app-team-view
            (userAssigned)="userAssigned($event)"
            [usersTask]="task.members!"
            [task]="task"
            (deleted)="userDeleted($event)"
            [isAdmin]="isManagerOrAdmin"
            >
            </app-team-view>
        </p-dialog>

        <div *ngIf="task.project!" class="flex flex-row items-center justify-start gap-4">
            <img *ngIf="task.project?.image != 'default_project.jpg' else default_image_project"
                 src="http://localhost:8082/api/v1/project-document/images/{{task.project?.image}}" width="50"
                 style="vertical-align: middle; border-radius: 50%;" />
            <ng-template #default_image_project>
                <img src="workspace/images/default_workspace.jpg" width="50"
                     style="vertical-align: middle; border-radius: 50%;" />
            </ng-template>
            <span class="sub-title">{{ task.project?.name }}</span>
        </div>

        <div *ngIf="task.module" class="flex flex-row items-center justify-start gap-4">
            <img *ngIf="task.module.project?.image != 'default_project.jpg' else default_image_project"
                 src="http://localhost:8082/api/v1/project-document/images/{{task.module.project?.image}}" width="50"
                 style="vertical-align: middle; border-radius: 50%;" />
            <ng-template #default_image_project>
                <img src="workspace/images/default_workspace.jpg" width="50"
                     style="vertical-align: middle; border-radius: 50%;" />
            </ng-template>
            <span class="sub-title">{{ task.module.project?.name }}</span>
        </div>


        <p class="description"> {{ task.description }}</p>

        <div class="details">
            <div class="flex flex-row gap-24">

                <div class="flex flex-col gap-5">

                    <div *ngIf="task.module" class="single">
                            <span class="icon-container">
                                <i class="pi pi-circle-on"></i>
                            </span>
                        <span>Module</span>
                    </div>

                    <div class="single">
                        <span class="icon-container">
                            <i class="pi pi-spinner-dotted"></i>
                        </span>
                        <span>Status</span>
                    </div>

                    <div class="single">
                            <span class="icon-container">
                                <i class="pi pi-users"></i>
                            </span>
                        <span>Team</span>
                    </div>

                    <div class="single">
                            <span class="icon-container">
                                <i class="pi pi-calendar-clock"></i>
                            </span>
                        <span>Dates</span>
                    </div>

                    <div class="single">
                            <span class="icon-container">
                                <i class="pi pi-heart-fill"></i>
                            </span>
                        <span>Priority</span>
                    </div>
                </div>

                <div class="flex flex-col justify-around gap-5">

                    <div *ngIf="task.module" class="single">
                        <span>{{ task.module?.title }}</span>
                    </div>

                    <div class="single">
                        <p-tag [value]="task.status" [severity]="getSeverityStatus(task.status)" styleClass="tag"/>
                    </div>

                    <div *ngIf="task.members?.length! > 0" class="single" (click)="showMember()">
                        <p-avatargroup styleClass="cursor-pointer" *ngFor="let t of getInFrontTeam();" >
                            <p-avatar
                                *ngIf="t.image != 'default_user.jpg'"
                                image="http://localhost:8082/api/v1/project-document/images/{{t.image}}"
                                size="normal" shape="circle"></p-avatar>
                            <p-avatar
                                *ngIf="t.image == 'default_user.jpg'"
                                image="default_user.jpg"
                                size="normal" shape="circle"></p-avatar>
                        </p-avatargroup>
                        <p-avatar *ngIf="getSizeEndTeam() > 0" label="+{{getSizeEndTeam()}}" shape="circle" size="normal"
                                  [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"></p-avatar>
                    </div>
                    <div class="single" *ngIf="task.members?.length! == 0">
                        <p-button *ngIf="isManagerOrAdmin" class="ml-2" label="Assign member" (click)="showMember()" severity="info" icon="pi pi-user-edit"/>
                    </div>

                    <div class="single">
                        <span>From {{ task.beginDate | date: "medium" }} to {{ task.deadline | date: "medium" }}</span>
                    </div>

                    <div class="single">
                        <p-tag [value]="task.priority?.toString()" [severity]="getSeverityPriority(task.priority)"
                               styleClass="tag" />
                        <p-tag [value]="priority" [severity]="getSeverityPriority(task.priority)" class="w-28" />
                    </div>
                </div>

            </div>


        </div>

    </div>

    <app-documents-view
        [documents]="task.documents!"
        [task_id]="task.taskId!"
    ></app-documents-view>

    <app-chat-channel
        [task_id]="task.taskId!"
    ></app-chat-channel>
</div>
