.allContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #262c38   ;
}

.listContainer{
    background-color: white;
    width: 50%;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
}

.reactionTypeList{
    display: flex;
    flex-direction: start;
    align-items: baseline;
    gap: 70px;
    padding-left: 36px;

}
.likesContainer{
display: inline-flex;
gap: 2px;
}
.like{
position: relative;
height: 22px;
width: 24px;
background-color: #1E7DFE;
border-radius: 50%;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
top: 5px;

}



.like svg {
    fill: white;
    width: 14px;
    position: relative;
    top: 3px;
    margin-left: 4px;
}

.laugh{
    position: relative;
    top: 13px;
}
.laugh svg{
    width: 35px;
    height: 35px;
}

.heart {
    position: relative;
    height: 22px;
    width: 24px;
    top: 5px;
    background-color: #FC454C;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.heart svg{
    fill: white;
    width: 14px;
    padding-top: 5px;
}

.usersList{
    display: flex;
    margin-top: 22px;
    flex-direction:column;
    margin-left: 1.5rem;
    gap: 20px;
    overflow: hidden;
}

.user{
    display:flex;
    gap: 22px;
}

.overlay{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
.wowEmojii{
    position: relative;
    width: 43px;
    top: 18px;
}
