
<!--<app-empty>
<div *ngIf="htmlcontent" [innerHtml]="htmlcontent"></div>

</app-empty>
-->
<div class="bg-surface-0 dark:bg-surface-900">
  <div id="home" class="landing-wrapper overflow-hidden">
<topbar-widget class="py-6 px-6 mx-0 md:mx-12 lg:mx-20 lg:px-20 flex items-center justify-between relative lg:static"></topbar-widget>

<div class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden" style='font-family: Newsreader, "Noto Sans", sans-serif;'>
    <div class="layout-container flex h-full grow flex-col">
      <div class="px-40 flex flex-1 justify-center py-5">
        <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
          <div class="flex flex-wrap gap-2 p-4">
            <a class="text-[#4e7397] text-base font-medium leading-normal" href="#">Business</a>
            <span class="text-[#4e7397] text-base font-medium leading-normal">/</span>
            <span class="text-[#0e141b] text-base font-medium leading-normal">Company News</span>
          </div>
          <h1 class="text-[#0e141b] tracking-light text-[32px] font-bold leading-tight px-4 text-left pb-3 pt-6">
            {{news?.title}}
          </h1>
          <p class="text-[#4e7397] text-sm font-normal leading-normal pb-3 pt-1 px-4">By {{news?.organisation?.name}}</p>
          <p class="text-[#4e7397] text-sm font-normal leading-normal pb-3 pt-1 px-4">2 hours ago</p>
          <div *ngIf="htmlcontent" [innerHtml]="htmlcontent">

          <p class="text-[#0e141b] text-base font-normal leading-normal pb-3 pt-1 px-4">
          
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <footer-widget />
</div>
</div>
