.workspace-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.workspace-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
}

.side-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-left: auto;
}

.workspace-group img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.title {
    font-size: 1.875rem;
    font-weight: 600;
}

.workspace-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.workspace-description p {
    font-size: 1.2rem;
    font-weight: 500;
}

.workspace-description span {
    font-size: 1rem;
    font-weight: 500;
    color: var(--granite-gray);
}

.project-name {
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 550;
    transition: all 0.3s ease-in-out;
}

.project-name:hover {
    color: var(--p-primary-500);
}


.image-form {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.image-form .img-container {
    width: 100px;
    height: 100px;
    border: 1px solid var(--light-gray);
    border-radius: 50%;
}

.image-form img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
