#file-icon {
    font-size: 1.25rem;
}

.doc-name {
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.doc-name:hover {
    color: var(--p-primary-500);
}

.details {
    font-size: 0.8rem;
    font-weight: 500;
}

#doc-card {
    background-color: var(--p-togglebutton-checked-background);
}
