.chart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espace entre les graphiques */
    justify-content: center; /* Centrer les graphiques */
}

.chart-container p-chart {
    flex: 1 1 100%; /* Les graphiques occupent 100% de la largeur sur des petits écrans */
    max-width: 500px; /* Limiter la largeur maximale des graphiques */
    height: 300px; /* Hauteur par défaut des graphiques */
}

@media (min-width: 600px) {
    .chart-container p-chart {
        flex: 1 1 48%; /* Deux graphiques par ligne sur des écrans moyens */
        max-width: 48%;
    }
}

@media (min-width: 1024px) {
    .chart-container p-chart {
        flex: 1 1 30%; /* Trois graphiques par ligne sur des écrans larges */
        max-width: 33%;
    }
}
